@page
@model ProyectoCiclo3.App.Frontend.Pages.FormServicioModel
@{
}
 
<div class="text-center">
<form method="POST">
  <label for="nombre" class="form-label">nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
  <label for="apellidos" class="form-label">apellidos:</label>
  <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
  <label for="direccion" class="form-label">direccion:</label>
  <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion">
  <label for="telefono" class="form-label">telefono:</label>
  <input type="number" class="form-control" id="telefono" name="telefono" placeholder="Telefono">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>