@page
@model ProyectoCiclo3.App.Frontend.Pages.FormServicioModel
@{
}
 
<div class = "text-center">
<form method = "POST">
  <label for="origen" class="form-label">origen:</label>
  <input type="text" class="form-control" id="origen" name="origen" placeholder="origen" required minlength="3"  asp-for="Servicio.origen">
  <span class="text-danger" asp-validation-for="Servicio.origen"></span> <br>
  <label for="destino" class="form-label">destino:</label>
  <input type="text" class="form-control" id="destino" name="destino" placeholder="destino" asp-for="Servicio.destino">
  <span class="text-danger" asp-validation-for="Servicio.origen"></span> <br>
  <label for="fecha" class="form-label">fecha:</label>
  <input type="date" class="form-control" id="fecha" name="fecha" placeholder="fecha" asp-for="Servicio.fecha">
  <span class="text-danger" asp-validation-for="Servicio.origen"></span> <br>
  <label for="hora" class="form-label">hora:</label>
  <input type="time" class="form-control" id="hora" name="hora" placeholder="hora" asp-for="Servicio.hora">
  <span class="text-danger" asp-validation-for="Servicio.origen"></span> <br>
  <label for="encomienda" class="form-label">encomienda:</label>
  <input type="text" class="form-control" id="encomienda" name="encomienda" placeholder="encomienda" required minlength="3"  asp-for="Servicio.encomienda">
  <span class="text-danger" asp-validation-for="Servicio.origen"></span> <br>
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>