@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Itm</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Dirección</th>
      <th scope="col">Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Oscar</td>
      <td>Suazo</td>
      <td>Calle 20 1a</td>
      <td>7113703</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>diana</td>
      <td>enciso</td>
      <td>calle 22 # 10</td>
      <td>7113703</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>diego</td>
      <td>Arias</td>
      <td>cra 23 #2</td>
      <td>3125486312</td>
    </tr>
    <th scope="row">4</th>
      <td>Larry </td>
      <td>perez</td>
      <td>clle 31# 25</td>
      <td>3145778236</td>
    </tr>
  </tbody>
</table>