@page
@model ProyectoCiclo3.App.Frontend.Pages.FormUsuarioModel
@{
}
 
<div class="text-center">
<form method="POST">
  <label for="origen," class="form-label">origen,:</label>
  <input type="text" class="form-control" id="origen," name="origen," placeholder="Origen">
  <label for="destino" class="form-label">destino:</label>
  <input type="text" class="form-control" id="destino" name="destino" placeholder="Destino">
  <label for="fecha" class="form-label">fecha:</label>
  <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Fecha">
  <label for=" hora" class="form-label"> hora:</label>
  <input type="time" class="form-control" id=" hora" name=" hora" placeholder=" Hora">
  <label for="encomienda," class="form-label">encomienda,:</label>
  <input type="text" class="form-control" id="encomienda," name="encomienda," placeholder="Encomienda">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>