@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope = "col">Itm</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Encomienda</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>10/10/2021</td>
      <td>07:00</td>
      <td>bogota</td>
      <td>cali</td>
      <td>caja</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>10/10/2021</td>
      <td>07:00</td>
      <td>bogota</td>
      <td>cartagena</td>
      <td>sobre</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>11/10/2021</td>
      <td>07:00</td>
      <td>bogota</td>
      <td>santa martha</td>
      <td>guacal</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>11/10/2021</td>
      <td>08:00</td>
      <td>bogota</td>
      <td>medellin</td>
      <td>sobre</td>
  </tbody>
</table>